<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="1">
	 <listeners>
        <listener class-name="utils.ExtentReportFinalExtendsClass"/>
        <listener class-name="utils.RetryAnalyzerForMoreClass"/>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
     <!-- <class name="basetest.MainClass"/>
      <class name="basetest.MainClass2"/> -->
      <class name="basetest.MainClass3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
